<!DOCTYPE html>
<html>
<head>
	<title>
		Home
	</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">

</head>
<body>

<h1>Welcome!</h1>

	<div class="container">

<!-- 	<a  href= class="btn btn-primary ">Security</a><br><br>
	<a  href= class="btn btn-primary ">Car Owner</a><br><br>
	<a  href= class="btn btn-primary ">Land Owner</a><br>
	 -->
<ul>
  <li><a href="security/" class="round green">Security Guard<span class="round">For security guards of parking Lots</span></a></li>
  <li><a href="carowner/" class="round red">Car Owner<span class="round">For car owners who want to search for parking lots </span></a></li>
	<li><a href="landowner/"class="round yellow">Land Owner<span class="round">For those who want to rent their land</span></a></li>
</ul> 	
	</div>
<div class="country-wrap">

	<!--<div class="mountain-1"></div>
	<div class="mountain-2"></div>-->
	
	<div class="sun"></div>
	<div class="grass"></div>
	<div class="street">
		<div class="car">
		<!--<div class="car-base"></div>-->
		<div class="car-body">
			<div class="car-top-back">
				<div class="back-curve"></div>
			</div>
			<div class="car-gate"></div>
			<div class="car-top-front">
				<div class="wind-sheild"></div>
			</div>
			<div class="bonet-front"></div>
			<div class="stepney"></div>
		</div>
		<div class="boundary-tyre-cover">
			<div class="boundary-tyre-cover-back-bottom"></div>
			<div class="boundary-tyre-cover-inner"></div>	
		</div>
		<div class="tyre-cover-front">
			<div class="boundary-tyre-cover-inner-front"></div>
		</div>
		<div class="base-axcel">
			
		</div>
		<div class="front-bumper"></div>
		<div class="tyre">		
			<div class="gap"></div>	
		</div>
		<div class="tyre front">
			<div class="gap"></div>	
		</div>
		<div class="car-shadow"></div>
	</div>
	</div>
	<div class="street-stripe"></div>
	<div class="hill">
		<!--<div class="tree-1">
			<div class="branch-1"></div>
			<div class="branch-2"></div>
			<div class="branch-3"></div>
		</div>
		<div class="tree-1">
		<div class="branch"></div>
		<div class="trunk"></div>
	</div>-->
	</div>
	
</div>
</body>
</html>

