<!DOCTYPE html>
<html>
<head>
	<title>
		Home
	</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<h1>Welcome!</h1>

	<div class="container">

	<a  href="security/" class="btn btn-primary ">Security</a><br><br>
	<a  href="carowner/" class="btn btn-primary ">Car Owner</a><br><br>
	<a  href="landowner/" class="btn btn-primary ">Land Owner</a><br>
		
	</div>

</body>
</html>