<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title></title>
</head><!-- Latest compiled and minified CSS -->


<body>
<h1>hola-name</h1>

	<p>Place:{{ place_name }}</p>
	<p>Car Owner Id:{{ carowner_id }}</p>

	<form method="post" action="book/">
		{% csrf_token %}
    	<!-- {{ form }} -->
		<button>Book</button>
	</form>

	<a href="https://www.paypal.com/in/home" class="btn btn-success">Book</a>



</body>
</html>